<!doctype html>
<html lang="en">
<head>
</head>
<body style="background-color:black;color:white;">
<center>
<b>{{fdateMDY .}}</b>
<hr>
<br>
<div>
<h1>ABOUT</h1>
</div>
<br>
This is an example ecommerce website for the <a href="https://github.com/0magnet/magnets">magnets</a> github repository
<br>
an ecommerce website from a rendered inventory database.
<br>
The basic source code of this project can be found here: <a href="https://github.com/0magnet/magnets">https://github.com/0magnet/magnets<a>
<br>
<br>
<br>
<div>
<h2>Acknoledgements</h2>
</div>
This site is coded in <a href="https://golang.org/">golang</a>, we would like to extend gracious appreciation upon The Go Project's contributors and maintainers.
<br>
This site uses <a href="https://github.com/cockroachdb/cockroach">CockroachDB</a> as a database, which is also built with go
<br>
<a href="https://upper.io">upper/db</a> is used as a convenient database access layer, in the view of the author this is the simplest possible implementation.
<br>
The Ecommerce part of this exmple is provided by  <a href="https://snipcart.com">Snipcart</a>.
<br>
Credit also must go to this article on <a href="https://benhoyt.com/writings/go-routing/">Different approaches to routing in golang</a>, to its author, and the source code which was provided with it.
<br>
<br>
<br>
<br>
<br>
<br>
<a href="/products">back to products</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div>
</div>
<div>
</div>
</center>
</body>
</html>
