<!DOCTYPE html>
<html lang="en">
<center>
<head>
<meta charset="UTF-8">
<title>example.com</title>
</head>
<body style="background-color:black;color:white;">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>welcome to magnets</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="/products">please proceed to our store!</a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<b>{{fdateMDY .}}</b>
<hr>
<b>{{.}}</b>
</body>
</center>
</html>
